* {
	margin: 0;
	padding: 0;
}

body {
	display: inline-grid;
	align-content: center;
	width: 100%;
}

header {
	display: inline-block;
	background-color: #bca;
	justify-content: center;
	
}

img.header {
	float: left;
	height: 100px;
}

p.header {
	padding: 5px 5px 2px 0px;
	font-family: forte;
	font-weight: 600;
	font-size: 60px;
	float: right;
	text-align: right;
	width: 50%;
}

nav.nav>ul.main-list {
	background-color: #aaa;
	text-align: center!important;
	margin: 0;
	padding: 0;
}
nav.nav>ul.main-list>li {
	display: inline-block;
	box-sizing: content-box; 
	margin: 0;
	padding: 5px 10px;
	padding-bottom: 0;
}

nav.nav>ul.main-list>li>a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	margin: 5px 10px;
	margin-left: 0;
	padding-bottom: 0;
}

nav.nav ul.main-list li a:hover {
	background-color: #ccc;
}

nav.nav ul.main-list li ul.drop-down {
	background-color: #aaa;
	list-style:none;
	color: #eee;
	width: 150px;
	position: absolute; 
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

nav.nav ul.main-list li ul.drop-down li{
	padding: 5px;

}

nav.nav ul.main-list li ul.drop-down li:hover{
	background-color: #ccc;
}

nav.nav ul.main-list li ul.drop-down li a{
	text-decoration: none;
	color: #fff;
	text-align: center;
	/*padding: 5px 10px;*/
	width: 150px;

} 

@media (max-width : 870px) {
	img.header {
		display: none;
	}	
	p.header {
		width: 100%;
		font-size: 26px;
	}
}

.hidden {
	display: none;
}

.show {
	display: block;
}